<div class="container">
<div class="list">
    <div class="card" data-ng-init="btnId='asd';">       
        <div class="card-container">
          <h4><b>PRODUCT NAME: Cadbury DairyMilk</b></h4> 
          <p>MANUFACTURED BY: Cadbury</p>
          <p>DATE OF MANUFACTURE: 2019-06-01</p>
          <p>BEST BEFORE:2019-12-01</p>
          <p>QUANTITY:100</p>
          <p>PRICE:4000</p>
          <p>CONTAINS EGG: true</p>
          <p>COLOR: brown</p>
          <p>EXPIRY DATE: 6 months from manufacture</p>
          <p>CURRENT OWNER: smith_124</p>
        </div>
        <button class="button" id="btnId" (click)="openModal($event)">TRADE</button>
      </div>
</div>
</div>

