<div class="container">
       <div>       
            <h4><b>PRODUCT NAME: Cadbury DairyMilk</b></h4> 
            <p>MANUFACTURED BY: Cadbury</p>
            <p>DATE OF MANUFACTURE: 2019-06-01</p>
            <p>BEST BEFORE:2019-12-01</p>
            <p>QUANTITY:100</p>
            <p>PRICE:4000</p>
            <p>CONTAINS EGG: true</p>
            <p>COLOR: brown</p>
            <p>EXPIRY DATE: 6 months from manufacture</p>
            <p>CURRENT OWNER: smith_124</p>
          </div>
  </div>


   <!-- <div>
    <mat-toolbar color="primary">
      <span><mat-icon>mood</mat-icon></span>
  
      <span>Yay, Material in Angular 2!</span>
  
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>
  
    <mat-card>
      <button mat-button>All</button>
      <button mat-raised-button>Of</button>
      <button mat-raised-button color="primary">The</button>
      <button mat-raised-button color="accent">Buttons</button>
    </mat-card>
  
    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>
  </div> -->