* {box-sizing: border-box}

.container {
  padding: 25px;
  background-color: plum;
  width: 50%;
  margin-top: 40px;
  margin-left: 400px;
  font-family: sans-serif;
  color:purple;
  height: 700px;
}

.column {
  float: left;
  width: 50%;
}


.title {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: purple;
}

.input{
  width: 75%; 
  margin-top: 2px;
  padding: 15px; 
  display: block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}
.fields {
  font-size: 16px;
  margin: 5px 0 12px 20px;
}


.input:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.button {
  background-color: purple;
  color: #f1f1f1;
  padding: 16px 20px;
  margin: 8px 100px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  font-size: 18px;
  text-align: center;
}

.button:hover {
  opacity:1;
}

.tp-selected-value {
  margin: 15px 0;
}